.vibrate-element {
  animation-name: vibration;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scale-element {
  animation-name: scale-cells;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes vibration {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scale-cells {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
