.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  cursor: pointer;

  width: 75px;
  height: 75px;
  border: none;
  border-radius: $button-border-radius;

  font-family: $font-button-family;
  font-size: $font-button-size-web;
  font-weight: $font-button-weight;
  color: $bg-main;

  box-shadow: $button-box-shadow;

  transition: 0.25s ease background, 0.25s ease box-shadow;
}

.start {
  font-size: $font-score-size-web;
  background: $button-start;

  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}

.restart {
  background: $button-restart;

  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}

/*
.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  cursor: pointer;

  width: 75px;
  height: 75px;
  border: none;
  border-radius: 5px;

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f9f6f2;

  transition: 0.25s ease background;
}

.start {
  font-size: 20px;
  background: #1dae28;

  &:hover {
    background: #179921;
  }
}

.restart {
  background: #f1b2b2;

  &:hover {
    background: #f87474;
  }
}
*/
