.rules-btn {
  z-index: 30;

  width: 100px;
  height: 30px;
  border-radius: $button-border-radius;

  font-family: $font-button-family;
  font-size: $font-button-size-web;
  font-weight: $font-button-weight;

  background-color: $button-rules;

  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}

.rules-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
  margin-top: 0;
  padding: 0;

  font-family: $font-label-family;
  font-size: 16px;
  color: $text-info;
  list-style-type: none;
}
